<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div id="g_id_onload"
    data-client_id=<%= ENV['GOOGLEAUTH_ID'] %>
    data-login_uri="http://localhost:3000/callback"
    data-auto_prompt="false">
</div>
<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left"
		data-width=400
		>
</div>
